<h3>My Portfolio</h3>
<div class="container">
  <div class="search-area">
    <h4>Search Stocks</h4>
    <%= form_tag search_stock_path, method: :get, data: { turbo_frame: "results" } do %>
      <%= label_tag :ticker_symbol, "Enter Stock Ticker:", class: "form-label" %>
      <div class="row g-0 align-items-center">
        <div class="col-9 col-md-6">
          <%= text_field_tag :ticker_symbol, nil, required: true, class: "form-control", placeholder: "e.g., AAPL, GOOG, TSLA" %>
        </div>
        <div class="col-3 col-sm-3">
          <%= button_tag type: "submit", class: "btn btn-primary d-flex justify-content-center align-items-center", title: "Search" do %>
            <i class="fas fa-search"></i>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="row mt-2">
      <div class="col-9 col-md-6">
        <turbo-frame id="results">
          <!-- Turbo frame content will be rendered here -->
        </turbo-frame>
      </div>
    </div>
  </div>

  <div class="user-stocks mt-5">
    <h4>Your Stocks</h4>
    <div class="row mt-2">
      <div class="col-12 col-md-9">
        <% if current_user.stocks.any? %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Ticker</th>
                <th>Price</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% current_user.stocks.each do |stock| %>
                <tr>
                  <td><%= stock.name %></td>
                  <td><%= stock.ticker %></td>
                  <td>$<%= stock.last_price %></td>
                  <td>
                    <%= button_to portfolios_path(stock_id: stock.id), method: :delete, class: "btn btn-danger d-flex align-items-center", title: "Remove Stock" do %>
                      <i class="fas fa-trash-alt fa-xs"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>You have no stocks in your portfolio. Use the search above to add stocks.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
