<h2 class="text-center mt-2">Change your password</h2>
<div class="row justify-content-center">
  <div class="col-6">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <!-- Devise error messages -->
      <%= render "devise/shared/error_messages", resource: resource %>

      <!-- Hidden Token Field -->
      <%= f.hidden_field :reset_password_token %>

      <!-- New Password -->
      <div class="mb-3">
        <%= f.label :password, "New password", class: "form-label" %>
        <% if @minimum_password_length %>
          <small class="text-muted">
            (<%= @minimum_password_length %> characters minimum)
          </small>
        <% end %>
        <%= f.password_field :password,
              autofocus: true,
              autocomplete: "new-password",
              class: "form-control mt-1" %>
      </div>

      <!-- Confirm New Password -->
      <div class="mb-3">
        <%= f.label :password_confirmation, "Confirm new password", class: "form-label" %>
        <%= f.password_field :password_confirmation,
              autocomplete: "new-password",
              class: "form-control" %>
      </div>

      <!-- Submit Button -->
      <div class="d-grid">
        <%= f.submit "Change my password", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
</div>
</div>
